#hide-me {
  display: none;
}

#fun-facts {
  display: none
}

.clickable {
  cursor: pointer;
  color: #0088cc;
 }

 .clickable:hover {
   text-decoration: underline;
 }

 .clickable-walrus {
   cursor: pointer;
   color: #0088cc;
  }

  .clickable-walrus:hover {
    text-decoration: underline;
  }

  .light-background {
    background-color: white;
  }

  .dark-background {
    background-color: black;
    color: white;
  }

  .dark-background .panel-body {
    color: black;
  }

#history-box-border {
  display: none;
  border: 2px dotted red;
  margin: 4px;
  padding:4px;

}

#history-box {
  margin: 4px;
  padding:4px;

}

.clickable-history {
  cursor: pointer;
  color: #0088cc;
 }

.clickable-history:hover {
   text-decoration: underline;
 }
